/* MOBILE FIRST*/

/* CARD */
.card {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1.8rem 1.87rem;
  border-radius: 2rem;
  background: var(--white);
}

.cardTitle {
  margin-block: 0;
  margin-bottom: 1.5rem;
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-extra-bold);
}
@media screen and (min-width: 768px) {
  .card {
    width: 100%;
    padding: 2.3rem 2.5rem 2rem;
  }
  .cardTitle {
    font-size: var(--font-size-l);
  }
}
